<title>蜘蛛规则添加</title>

<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
        <a lay-href="">主页</a>
        <a><cite>系统设置</cite></a>
        <a><cite>蜘蛛规则管理</cite></a>
        <a><cite>蜘蛛规则添加</cite></a>
    </div>
</div>

<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">添加蜘蛛规则</div>
                <div class="layui-card-body" pad15>
                    <form class="layui-form" wid100 lay-filter="LAY-info-form">
                        <div class="layui-fields">
                        </div>
                        <div class="layui-submit">
                            <div class="layui-form-item">
                                <div class="layui-input-block">
                                    <button class="layui-btn" lay-submit lay-filter="submit">确认添加</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var config = {
        api: {
            submit: '/manage/system/spider/add.json'
        },
        loadEditData: function () {
        },
        fields: [
            {name: 'key', key: 'key', type: 'text'},
            {name: '名称', key: 'name', type: 'text',},
            {name: '关键词', key: 'keywords', type: 'textarea', intro: '每行一个'},
            {name: '规则状态', key: 'status', type: 'switch', extra: '启用|禁用'},
            {name: '访问状态', key: 'block_access', type: 'switch', extra: '阻止|允许'},
        ],
    };
    layui.use('curd/addOrEdit', layui.factory('curd/addOrEdit'));
</script>