<div class="layui-card-header">版本信息</div>
<div class="layui-card-body layui-text layadmin-about">
  <script type="text/html" template>
    <p>当前版本：PT小说程序 {{layui.admin.v}}</p>
    <p>基于框架：PTFramework V3.2.12</p>
  </script>
  <div class="layui-btn-container">
    <a href="https://www.kxcms.com/doc/index.html" target="_blank" class="layui-btn layui-btn-danger">使用文档</a>
    <a href="#" target="_blank" class="layui-btn ">社区交流</a>
  </div>
</div>

<div class="layui-card-header">程序介绍</div>
<div class="layui-card-body layui-text layadmin-about">
  <blockquote class="layui-elem-quote" style="border: none;">
    <p>PT小说程序，助您走上原创之路。</p>
  </blockquote>
</div>
<div class="layui-card-header">关于版权</div>
<div class="layui-card-body layui-text layadmin-about">
  <blockquote class="layui-elem-quote" style="border: none;">
    PT小说程序 (PTNovel) 受国家计算机软件著作权保护（登记号：2018SR430871）经官网正规渠道授权擅自公开产品源文件、以及直接对产品二次出售的，我们将保留追究法律责任的权利。任何使用程序进行商业运作必须购买商业版权！
  </blockquote>
  <p>© 2019 <a href="http://www.ptcms.com/">PTcms</a> 版权所有</p>
</div>