<title>会员充值选项</title>

<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
        <a lay-href="">主页</a>
        <a><cite>系统设置</cite></a>
        <a><cite>付费管理</cite></a>
        <a><cite>会员类型</cite></a>
        <a><cite>添加</cite></a>
    </div>
</div>

<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">添加</div>
                <div class="layui-card-body" pad15>
                    <form class="layui-form" wid100 lay-filter="LAY-info-form">
                        <div class="layui-fields">
                        </div>
                        <div class="layui-submit">
                            <div class="layui-form-item">
                                <div class="layui-input-block">
                                    <input type="hidden" name="id">
                                    <button class="layui-btn" lay-submit lay-filter="submit">确认添加</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var config = {
        api: {
            submit: '/manage/system/vip/add.json'
        },
        fields: [
            {name: '显示名称', key: 'name', type: 'text'},
            {name: '金额(元)', key: 'money', type: 'num'},
            {name: '时长(天)', key: 'day', type: 'num'},
            {name: '奖励时长(天)', key: 'reward', type: 'num'},
            {name: '上级用户奖励金币', key: 'one_level_user_reward_money', type: 'num'},
            {name: '上上级用户奖励金币', key: 'two_level_user_reward_money', type: 'num'},
            {name: '备注', key: 'remark', type: 'text'},
        ],
    };
    layui.use('curd/addOrEdit', layui.factory('curd/addOrEdit'));
</script>